.main-page {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2%;
  &__input {
    max-width: 90%;
    width: 100%;
    margin-right: 2%;
  }
  
  .header {
    text-align: center;
    padding: 1.5% 0;

    span {
      font-size: 1.5rem;
    }
  }

  .item {
    padding: 1% 2% 1% 1%;
    display: flex;
    border-bottom: 1px solid #2d2d2d;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      .todo-trash {
        opacity: 1;
      }
    }

    justify-content: space-between;

    &.completed {
      span {
        text-decoration: line-through;
      }
    }

  }

}

span.todo-trash {
  position: relative;
  right: 0;
  color: #ff0000;
  text-align: center;
  height: 50px;
  width: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s linear;
}

i {
  cursor: pointer;
}

.filter-btn {
  margin-right: 1%;

  &:last-child {
    margin-right: 0;
  }
}